---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "{{ site.theme }}";

h1{
	text-align: center;
	color: white;
	background-color: #A09ABC;
	border: 2px solid #A09ABC;
  	border-radius: 8px;
  	margin: 25px 25px;
  	padding: 20px;
}
h2, h3, h4, h5{
	color: #88A2AA;
}
p{
	background-color: white;
	border: 2px solid #88A2AA;
  	border-radius: 8px;
  	margin: 25px 25px;
  	padding: 20px;
  	color: #88A2AA;
}
p a:link {
  color: #2F6690;
}
body {
  background-color: #ebd6ff;
  padding: 25px;
}

a:link, a:visited {
  color: #88A2AA;
}

/* mouse over link */
a:hover {
  color: #2F6690;
}

/* selected link */
a:active {
  color: #2F6690;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-meta {
  display: none;
}